# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
.env.*

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.pyd

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Data / models / caches
models/*.pth
torch_cache/
plots/
chatbot/static/uploads/
chatbot/static/reports/
data/
data/**

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local settings
instance/

# Secrets
secrets.json

